[Unit]
Description=min Service
Requires=docker.service
After=docker.service

[Service]
Type=simple
EnvironmentFile=-/etc/default/min
ExecStartPre=-/usr/bin/docker stop "min"
ExecStartPre=-/usr/bin/docker rm  "min"
ExecStartPre=/usr/bin/docker pull "min-image"
ExecStart=/usr/bin/docker run  --name min min-image 

[Install]
WantedBy=multi-user.target
